@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
}

$font1 : 'Poppins', sans-serif;
$font2 : 'Playfair Display', serif;


$color1 : #fefefe;

$size1: 11px;
$size2: 3rem;
$size3: 1rem;
$size4: 13px;

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 11rem;
    font-family: $font1;
    font-weight: 700;
    font-size: $size1;
    z-index: 100;

    .nav-in{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 7rem;
        }
    }
    .nav-in:nth-child(2) ul,.nav-in:nth-child(3) ul{
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        a{
            color: $color1;
        }
    }
}

.page{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/bg.png);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;


    .titles{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            
            font-family: $font1;
            text-transform: uppercase;
            font-size: $size4;
            color: $color1;
            margin-bottom: 1rem;
        }
        h2{
            font-family: $font2;
            font-size: $size2;
            text-align: center;
            font-weight: 500;
            color: #fefefe;

            span{
                font-style: italic;
                font-weight: 400;
            }
        }
    }
    
}

  