@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #053B50;
  border-radius: 10px;
}

.splash-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #053B50;
  background-image: url("../img/kmcscLogo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  transition: all 1s;
  animation: splash-slide 5s ease-in-out;
}

@keyframes splash-slide {
  0% {
    transform: translateX(-1%);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    display: none;
  }
}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 11rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  z-index: 100;
}
nav .nav-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-in img {
  width: 7rem;
}
nav .nav-in:nth-child(2) ul,
nav .nav-in:nth-child(3) ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
nav .nav-in:nth-child(2) ul a,
nav .nav-in:nth-child(3) ul a {
  color: #fefefe;
}
nav .nav-in:nth-child(2) ul li a:hover {
  color: #053B50;
}
nav .nav-in:nth-child(3) ul li a:hover {
  color: #053B50;
}

.parallex1 {
  background-image: url("../img/kmcscLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/bg.png");
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.playvideo {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 1.5rem;
  left: 14%;
  padding: 2rem;
}
.playvideo .border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px #FEFEFE dotted;
  padding: 4px;
}
.playvideo .border img {
  border-radius: 50%;
  z-index: 3;
}
.playvideo .border i {
  position: absolute;
  z-index: 4;
  color: #fefefe;
  font-size: 1rem;
  font-weight: 400;
}
.playvideo p {
  font-family: "Poppins", sans-serif;
  color: #fefefe;
  font-size: 11px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-3rem);
}
.titles h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #fefefe;
  margin-bottom: 1rem;
}
.titles h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #fefefe;
}
.titles h2 span {
  font-style: italic;
  font-weight: 400;
}

.page-1 {
  width: 100%;
  height: 130vh;
  background-color: #176B87;
  display: flex;
  align-items: center;
  padding: 7rem 0;
  flex-direction: column;
  gap: 1rem;
}
.page-1 .title_page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-1 .title_page1 h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #fefefe;
  margin-bottom: 1rem;
}
.page-1 .title_page1 h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #fefefe;
}
.page-1 .title_page1 h2 span {
  font-style: italic;
  font-weight: 400;
}
.page-1 .img_parallax {
  transform: translateY(8rem) rotate(-3deg) translateX(-5rem);
  position: absolute;
  height: 25rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.page-1 .img_parallax img {
  height: 130%;
}
.page-1 .img_parallax:nth-child(3) {
  transform: translateY(22rem) rotate(3deg) translateX(5rem);
  position: absolute;
  height: 15rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.page-1 .img_parallax:nth-child(3) img {
  height: 150%;
}/*# sourceMappingURL=style.css.map */